<<<<<<< HEAD
mat-grid-list {
    margin-top: 2%;
    margin-left: 2%;
    margin-right:  2%;
    margin-bottom:  1%;
}

.uc-button {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    border-width: thin;
    border-style: solid;
    border-color: black;
}
=======
mat-grid-list {
    margin-top: 2%;
    margin-left: 2%;
    margin-right:  2%;
    margin-bottom:  1%;
}

.uc-button {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    border-width: thin;
    border-style: solid;
    border-color: black;
}
>>>>>>> 29f32125a9a7f117ffdaa7c7e7e7692d49913c3a
