<<<<<<< HEAD
.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
=======
.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
>>>>>>> 29f32125a9a7f117ffdaa7c7e7e7692d49913c3a
}